openapi: 3.0.0
info:
  title: Image Generator API
  description: |
    This API allows generate and update masters avatars images
  version: 1.0.0
servers:
  - url: https://api.hatchyverse.com
    description: Production server
  - url: https://api.hatchyverse.com/dev
    description: Development server

tags:
  - name: masters
    description: Masters postgresql operations
  - name: gen2
    description: gen2 service
  - name: auth
    description: auth service

paths:
  /tickets:
    get:
      $ref: "./tickets/getTickets.yml"
  /tickets/balance/{address}:
    get:
      $ref: "./tickets/getTicketsBalance.yml"
  /masters/avatars/image/{tokenId}:
    post:
      $ref: "./masters/updateMastersAvatarImage.yml"
  /masters/genders:
    get:
      $ref: "./masters/getMastersGenders.yml"
  /masters/colors:
    get:
      $ref: "./masters/getMastersColors.yml"
  /masters/traits/types:
    get:
      $ref: "./masters/getMastersTraitTypes.yml"
  /masters/mint/traits:
    post:
      $ref: "./masters/getMastersMintTraits.yml"
  /masters/traits:
    get:
      $ref: "./masters/getMastersTraits.yml"
  /masters/traits/image-upload-url:
    post:
      $ref: "./masters/getMastersTraitsUploadUrl.yml"
  /masters/avatars/prices:
    get:
      $ref: "./masters/getMastersAvatarPrices.yml"
  /masters/avatars/{tokenId}:
    get:
      $ref: "./masters/getMastersPFP.yml"
  /masters/avatars:
    post:
      $ref: "./masters/getMastersPFPSignature.yml"
  /masters/avatars/free:
    post:
      $ref: "./masters/getMastersFreePFPSignature.yml"
  /masters/avatars/balance/{address}:
    get:
      $ref: "./masters/getMastersAvatarBalance.yml"
  /masters/items:
    get:
      $ref: "./masters/getMastersItems.yml"
  /masters/items/categories:
    get:
      $ref: "./masters/getMastersItemCategories.yml"
  /masters/items/balance/{address}:
    get:
      $ref: "./masters/getMastersItemsBalance.yml"
  /masters/lootbox/joepegs:
    post:
      $ref: "./masters/getMastersLootboxJPSignature.yml"
  /masters/lootbox:
    post:
      $ref: "./masters/getMastersLootboxSignature.yml"
    get:
      $ref: "./masters/getMastersLootboxes.yml"
  /masters/items/{tokenId}:
    get:
      $ref: "./masters/getMastersItem.yml"
  /masters/equip/signature:
    post:
      $ref: "./masters/getMastersEquipSignature.yml"
  /gen2/sale-signature:
    post:
      $ref: "./gen2/getGen2SaleSignature.yml"
  /gen2/price:
    get:
      $ref: "./gen2/getGen2SalePrice.yml"
  /auth/users:
    post:
      $ref: "./auth/createUser.yml"
  /auth/wallet:
    get:
      $ref: "./auth/getWalletMessage.yml"
    post:
      $ref: "./auth/postWalletSignature.yml"
  /users:
    get:
      $ref: "./users/getUser.yml"

security:
  - bearerAuth: []
components:
  schemas:
    MessageResponse:
      $ref: "./models/messageResponse.yml"
    MastersLootboxSignature:
      $ref: "./models/masters/mastersLootboxSignature.yml"
    MastersLootboxJPSignature:
      $ref: "./models/masters/mastersLootboxJPSignature.yml"
    MastersPFPSignature:
      $ref: "./models/masters/mastersPFPSignature.yml"
    MastersFreePFPSignature:
      $ref: "./models/masters/mastersFreePFPSignature.yml"
    MastersEquipSignature:
      $ref: "./models/masters/mastersEquipSignature.yml"
    Lootbox:
      $ref: "./models/masters/lootbox.yml"
    LootboxPrice:
      $ref: "./models/masters/lootboxPrice.yml"
    MastersAvatar:
      $ref: "./models/masters/mastersAvatar.yml"
    MastersItem:
      $ref: "./models/masters/mastersItem.yml"
    MastersItemType:
      $ref: "./models/masters/mastersItemType.yml"
    MastersItemCategory:
      $ref: "./models/masters/mastersItemCategory.yml"
    MastersItemBalance:
      $ref: "./models/masters/mastersItemBalance.yml"
    MastersTrait:
      $ref: "./models/masters/mastersTrait.yml"
    MastersMintTrait:
      $ref: "./models/masters/mastersMintTrait.yml"
    MastersColor:
      $ref: "./models/masters/mastersColor.yml"
    MastersGender:
      $ref: "./models/masters/mastersGender.yml"
    MastersTraitType:
      $ref: "./models/masters/mastersTraitType.yml"
    CreateTraitParams:
      $ref: "./models/masters/createTraitParams.yml"
    CreateItemParams:
      $ref: "./models/masters/createItemParams.yml"
    Ticket:
      $ref: "./models/tickets/ticket.yml"
    TicketBalance:
      $ref: "./models/tickets/ticketBalance.yml"
    TicketPrice:
      $ref: "./models/tickets/ticketPrice.yml"
    Gen2SaleSignature:
      $ref: "./models/gen2/gen2SaleSignature.yml"
    User:
      $ref: "./models/auth/user.yml"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
